<h2>Total journey time finder</h2>

  <div class="row">
    <div class="col-md-12">

          
           
            <div >
              <label for="selectedDepartStation">Depart Station: </label>
              <select  name="selectedDepartStation" [(ngModel)]="selectedDepartStation" (change)="changeDepartStation($event.target.value)">
                <option>Select</option>
                <option *ngFor="let sl of departstationsList" [value]="sl">{{sl}}</option>
                </select>
              
            </div>
        
           
            <div>
           
           <label for="selectedArriveStation">Arrive Station: </label>

              <select  name="selectedArriveStation"  [(ngModel)]="selectedArriveStation" (change)="changeArriveStation($event.target.value)">
                <option>Select</option>
                <option  *ngFor="let sl of arrivestationsList"  [value]="sl">{{sl}}</option>
                </select>

            </div>          
  
            <div >
                <button type="button" class="btn btn-primary" (click)="GetCommuteTime($event)" >Get commute time</button>
              
            </div>

            <div>

              <p>{{displayJourneyTime}}</p> 
            </div>
  
     </div>
  </div>
  
  
  
   
